@charset "UTF-8";
/* CSS Document */
@import "css/bootstrap-social.less";
  body {
    padding-top: 15px;
    font-size: 12px;
    background-color: #F4F5F6;
  }
 /* .main {
    max-width: 320px;
    margin: 0 auto;
  }*/
  input{
  	border-radius: 0px;	
  }
  .forgot{
  	border-radius: 0px;
  	background-color: #C0A929;
  	border: 0px;
  	align: center;
  	color: #ffffff;
 /* 	margin-top: 50px !important;
  	margin-bottom: 50px;*/
  }
  .forgot:hover{
  	background-color: #ab9725;
  	color: #ffffff;
  }
  form{
  	margin-bottom: 0px;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
   /*  margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px; */
    padding-top: 10px;
  }
  .span-or {
  background: none repeat scroll 0 0 #f4f5f6;
    display: block;
 /*   left: 40%; */
    margin: 5px 0;
    position: absolute;
    text-align: center;
    top: 40px;
    left: 40%;
    /*display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
  /*  width: 50px;*/
   /* text-align: center;
    background: #F4F5F6;
    margin: 10px 0px 10px 0px;*/
  }
  @media (min-width: 700px) {
  		.span-or {
	 		left: 45%;
		}
	}
	@media (min-width: 700px) {
	    .span-or {
		 	left: 47%;
		}
	}
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  h2{
  	margin-top: 40px;
  }
  h3 {
 	margin-top: 40px;
    text-align: center;
    line-height: 300%;
  }
  .social{
  	border-radius: 50%; 
  	height: 40px; 
  	width: 40px;
  	background-color: #C0A929;
  	border: 0px;
  	color: #ffffff;
  }
  .social:hover{
  	background-color: #ab9725;
  }
  .social a{
  	color: #ffffff;
  }
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  	max-width: 50%;
  }