/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

/* Calculate the image path based on the remote server if it is set resourcesCDN (without final "/"), otherwise the relative path is used */

$resourcesCDN: '';

@function vteimage($image-path, $rel-path) {
	$new-image-path: '';
	@if $resourcesCDN != "" {
		$new-image-path: $resourcesCDN + '/' + $image-path;
	} @else {
		$new-image-path: $rel-path + $image-path;
	}
	@return $new-image-path;
}

@mixin vtecard() {
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	background-color: $vte-card-bg;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: $vte-box-border-radius;
}

@mixin vtetabs() {
	border-bottom: 1px solid $vte-thin-border;
	margin-bottom: 10px;
}
