/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

.fancybox-overlay {
	background-image: none;
}

.fancybox-outer, .fancybox-inner {
	border-radius: 3px;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: auto;
}