/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

/* Import variables */
@import 'vars/variables';

/* Import colors */
@import 'vars/colors';

/* Import mixins */
@import 'vars/mixins';

/* Import material theme */
@import 'vte_material';

/* Import general style */
@import 'vte_style';
