
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<table border="0" cellpadding="0" cellspacing="0" class="bgBody" id="backgroundTable" style="background-color: #f6f6f6; font-family: 'Roboto', sans-serif;" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #FFFFFF;" width="620">
					<tbody>
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
									<tbody>
										<tr>
											<td>
												<div>
													<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
														<tbody>
															<tr>
																<td align="center" valign="top">
																	<div>
																		<div style="text-align: center;">
																			<img alt="logo" src="$custom||organization_logo$" />
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>

												<div>
													<table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
														<tbody>
															<tr>
																<td align="center" colspan="3" style="padding-bottom: 10px; padding-top: 25px;" width="100%">
																	<div>
																		<div align="center">
																			<h2 style="color: rgb(51, 51, 51); text-align: center;">
																				<span style="color: #5195db; font-size: 22px;">
																					<strong>Verifica la tua identit&agrave;</strong>
																				</span>
																			</h2>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center">
																	<div>
																		<div align="left">
																			<p style="text-align: justify;">
																				<span style="color: #696969; font-size: 14px;">Gentile $Contacts||lastname$,<br />prima di procedere nell'utilizzo dell'applicazione web che ti permette di gestire i tuoi dati personali in nostro possesso, secondo quanto richiesto dalla normativa GDPR, abbiamo bisogno di accertare che sei veramente tu. Cliccando il pulsante sottostante sarai reindirizzato al nostro portale self service per la gestione dei dati personali.</span>
																			</p>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>

													<table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
														<tbody>
															<tr>
																<td style="text-align: center;" width="200">&nbsp;</td>
																<td align="center" style="padding-top: 25px;" width="200">
																	<table align="center" border="0" cellpadding="0" cellspacing="0" height="50" width="200">
																		<tbody>
																			<tr>
																				<td align="center" height="50" style="background-color: #4c92da; color: #fff; border-radius: 4px; font-size: 14px" width="200">
																					<div>
																						<div style="text-align: center;">
																							<a href="$custom||gdpr_access_login_link$" style="color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 700" target="_blank">Clicca qui</a>
																						</div>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td style="text-align: center;" width="200">&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</div>

												<div>
													<div style="text-align: center;">
														<br />
														<br />
														<br />
														&nbsp;
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td style="background-color: rgb(221, 221, 221);">
												<div style="text-align: center;">
													<br />
													<strong>&copy; $custom||organization_name$</strong>
													&nbsp;
													<br />
													$custom||organization_address$, $custom||organization_city$ - $custom||organization_phone$&nbsp;
													<br />
													<a href="$custom||organization_website$" target="_blank">$custom||organization_website$</a>
													&nbsp;
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
