<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 650px;">
	<tbody>
		<tr>
			<td style="width: 325px;">
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
			</td>
			<td style="width: 500px;">
				<img alt="logo" src="$custom||organization_logo$" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p style="text-align: justify;">
					<br />
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">Gentile $Contacts||lastname$,</span>
						</span>
					</span>
				</p>

				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">$custom||organization_name$ attraverso le sue newsletter ti fornisce aggiornamenti, notizie e inviti ai nostri eventi o webinar.&nbsp;</span>
							<br />
							<br />
							<span style="font-family: verdana, geneva, sans-serif;">Nel rispetto della tua privacy e alla luce della nuova normativa per la protezione dei dati personali (GDPR, General Data Protection Regulation), entrato in vigore il 25 maggio 2018, chiediamo il tuo consenso per continuare a inviare notizie e aggiornamenti.</span>
						</span>
					</span>
					<br />
					&nbsp;
				</p>
			</td>
		</tr>
		<tr>
			<td style="width: 20%; vertical-align: middle;">
				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-family: verdana, geneva, sans-serif; font-size: 11px;">
							<a href="$custom||gdpr_access_verify_link$">
								<img alt="" src="https://partner.vtecrm.net/storage/images_uploaded/VTECRM/pulsante130.png" style="width: 130px; height: 55px; float: right;" />
							</a>
						</span>
					</span>
				</p>
			</td>
			<td style="text-align: left; vertical-align: middle;">
				<p style="margin-left: 40px;">
					<strong>
						<span style="font-size: 12px;">
							<span style="color: #666666;">
								<span style="font-family: verdana, geneva, sans-serif;">Clicca sul pulsante per regolamentare l'accesso ai tuoi dati personali</span>
							</span>
						</span>
					</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: left;">
				<br />
				<br />
				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">Grazie per il tuo interesse!</span>
						</span>
					</span>
				</p>
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; background-color: rgb(221, 221, 221);">
				<span style="font-family: verdana, geneva, sans-serif;">
					<span style="color: #333333;">
						<span style="font-size: 14px;">
							&nbsp;
							<strong>&copy; $custom||organization_name$</strong>
						</span>
					</span>
					<br />
					<span style="font-size: 12px;">
						<span style="color: #333333;">$custom||organization_address$, $custom||organization_city$ - $custom||organization_phone$</span>
						<br />
						<a href="$custom||organization_website$" target="_blank">$custom||organization_website$</a>
					</span>
				</span>
				<br />
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
