<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 650px;">
	<tbody>
		<tr>
			<td style="width: 325px;">
				<br />
				<br />
				<br />
				<br />
				<br />
				&nbsp;
			</td>
			<td style="width: 500px;">
				<img alt="logo" src="$custom||organization_logo$" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p style="text-align: justify;">
					<br />
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">Dear $Contacts||lastname$,</span>
						</span>
					</span>
				</p>

				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">$custom||organization_name$ through its newsletters provides you with updates, news and invitations to our events or webinars.&nbsp;</span>
							<br />
							<br />
							<span style="font-family: verdana, geneva, sans-serif;">In respect of your privacy and related to the new legislation for the protection of personal data (GDPR, General Data Protection Regulation), entered into force on May 25, 2018, we ask for your consent to continue sending news and updates.</span>
						</span>
					</span>
					<br />
					&nbsp;
				</p>
			</td>
		</tr>
		<tr>
			<td style="width: 20%; vertical-align: middle;">
				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-family: verdana, geneva, sans-serif; font-size: 11px;">
							<a href="$custom||gdpr_access_verify_link$">
								<img alt="" src="https://partner.vtecrm.net/storage/images_uploaded/VTECRM/click-here.png" style="width: 130px; height: 55px; float: right;" />
							</a>
						</span>
					</span>
				</p>
			</td>
			<td style="text-align: left; vertical-align: middle;">
				<p style="margin-left: 40px;">
					<strong>
						<span style="font-size: 12px;">
							<span style="color: #666666;">
								<span style="font-family: verdana, geneva, sans-serif;">Click the button in order to regulate access to your personal data</span>
							</span>
						</span>
					</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: left;">
				<br />
				<br />
				<p style="text-align: justify;">
					<span style="color: #666666;">
						<span style="font-size: 16px;">
							<span style="font-family: verdana, geneva, sans-serif;">Thanks for your interest!</span>
						</span>
					</span>
				</p>
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; background-color: rgb(221, 221, 221);">
				<span style="font-family: verdana, geneva, sans-serif;">
					<span style="color: #333333;">
						<span style="font-size: 14px;">
							&nbsp;
							<strong>&copy; $custom||organization_name$</strong>
						</span>
					</span>
					<br />
					<span style="font-size: 12px;">
						<span style="color: #333333;">$custom||organization_address$, $custom||organization_city$ - $custom||organization_phone$</span>
						<br />
						<a href="$custom||organization_website$" target="_blank">$custom||organization_website$</a>
					</span>
				</span>
				<br />
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
