
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<table border="0" cellpadding="0" cellspacing="0" class="bgBody" id="backgroundTable" style="background-color: #f6f6f6; font-family: 'Roboto', sans-serif;" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #FFFFFF;" width="620">
					<tbody>
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
									<tbody>
										<tr>
											<td>
												<div>
													<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
														<tbody>
															<tr>
																<td align="center" valign="top">
																	<div>
																		<div style="text-align: center;">
																			<img alt="logo" src="$custom||organization_logo$" />
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>

												<div>
													<table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
														<tbody>
															<tr>
																<td align="center" colspan="3" style="padding-bottom: 10px; padding-top: 25px;" width="100%">
																	<div>
																		<div align="center">
																			<h2 style="color: rgb(51, 51, 51); text-align: center;">
																				<span style="color: #5195db; font-size: 22px;">
																					<strong>Nuova richiesta supporto</strong>
																				</span>
																			</h2>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center">
																	<div>
																		<div align="left">
																			<p style="text-align: justify;">
																				<span style="color: #696969; font-size: 14px;">
																					Il contatto $custom||gdpr_support_request_sender$ ha inviato una nuova richiesta di supporto.
																					<br />
																					<br />
																					<b>Oggetto:</b>&nbsp;$custom||gdpr_support_request_subject$
																					<br />
																					<b>Descrizione:</b><br />
																					$custom||gdpr_support_request_description$
																				</span>
																			</p>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>

													<table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
														<tbody>
															<tr>
																<td style="text-align: center;" width="200">&nbsp;</td>
																<td style="text-align: center;" width="200">&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</div>

												<div>
													<div style="text-align: center;">
														<br />
														<br />
														<br />
														&nbsp;
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td style="background-color: rgb(221, 221, 221);">
												<div style="text-align: center;">
													<br />
													<strong>&copy; $custom||organization_name$</strong>
													&nbsp;
													<br />
													$custom||organization_address$, $custom||organization_city$ - $custom||organization_phone$&nbsp;
													<br />
													<a href="$custom||organization_website$" target="_blank">$custom||organization_website$</a>
													&nbsp;
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
