.mCSB_container{
	width:auto;
	margin:0px;
	overflow:hidden;
}
.mCSB_draggerRail{
	display:none;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin:0px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:7px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
.slimScrollBar:hover {
	cursor:pointer;
	/* opacity: 0.85; */
	/* filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; */ /* old ie */
}