@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body{
	margin:0 0 0 0;
	font-size:12px;
	font-family: Verdana, Geneva, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#ffffff;
}

body tr td{
	font-size:12px;
}

div#wrapper_login {
	width:100%;
	display:block;
	padding-top:40px;
}

div#wrapper {
	width:100%;
	display:block;
}

div#container {
	width:80%;
}

div#container_login {
	width:360px;
}

h1, .lvtHeaderText {
	margin:0px;
	padding:0px;
	line-height:1.7em;
	font-size:20px;
	color:#2b577c;
}

#header_login h1 {
	font-family: Impact;
	font-size:36px;
	color:#2c80c8;
	text-align:center;
	font-weight:normal;
}

#header_login {
	font-size:14px;
	color:#2b577c;
	text-align:center;
}

#header h1 {
	font-family: Impact;
	font-size:25px;
	color:#ffffff;
	display:inline;
	font-weight:normal;
}

#header {
	font-size:14px;
	color:#E47F13;
	background-color:#2c80c8;
	padding: 10px 10px 0px 10px;
}

#header_left {
	position: absolute;
	width:0px;
}

#header_right {
	position: absolute;
	top:10px;
	right:10px;
}

#header a {
	color:#FFF;
}

a {
	color:#2b577c;
	text-decoration:none;
}

#footer {
	width:100%;
}

#foot_cont {
	/*width:80%;*/
	text-align:right;
	margin: 10px;
	font-size:0; /* toglie la scritta dal footer PORTALE CLIENTI */
	color:#999;
}
	
br.boot {
	width:100%;
	height:20px;
}

#main {}

#main_header {
	display:block;
	width:100%;
	background: url(../images/header_main.png);
	background-repeat:no-repeat;
	background-position:bottom center;
}
#main_content {
	background:#FFF;
	text-align:left;
}
<!-- crmv@fvillani modifica width -->
#main_content_table {
	width: 100%;
	text-align: left;
	margin-left: 8px;
}
<!-- end -->

#main_content_banner {
	width:120px;
	float:right;
}
#main_footer {
	display:block;
	width:100%;
	background-color: #0F76A1;
	/*background: url(../images/header_main_footer.png);
	background-repeat:no-repeat;
	background-position:top center;*/
}
a.menu {
	color:#0f76a1;
	font-size:15px;
}
#menu span {
	border-bottom:1px solid #0f76a1;
	padding: 20px 10px 10px 50px;
	display:block;
	height:50px;
}
span#Accounts {
	background:url(../images/ico_account.png) 10px no-repeat;
}
span#Documents {
	background:url(../images/ico_download.png) 10px no-repeat;
}
span#HelpDesk {
	background:url(../images/ico_ticket.png) 10px no-repeat;
}
span#Faq {
	background:url(../images/ico_faq.png) 10px no-repeat;
}
span#Quotes {
	background:url(../images/ico_quote.png) 10px no-repeat;
}
span#Assets {
	background:url(../images/ico_asset.png) 10px no-repeat;
}
span#ProjectPlan {
	background:url(../images/ico_projectplan.png) 10px no-repeat;
}
span#Invoice {
	background:url(../images/ico_invoice.png) 10px no-repeat;
}
span#Products {
	background:url(../images/ico_product.png) 10px no-repeat;
}
span#Services {
	background:url(../images/ico_service.png) 10px no-repeat;
}
span#Contacts {
	background:url(../images/ico_contact.png) 10px no-repeat;
}
.subtitle {
	/*font-size:11px;*/
	color: #666;
}
.detailedViewHeader{
	background:#ebf2f8;
	color:#000000;
	text-align:left;
	vertical-align:top;
	padding:2px;
}
.dvtCellLabel {
	color:#666;
	text-align:left;
	padding:2px;
}
a.banner img{
	float:left;
	margin-bottom: 10px;
}
.crmbutton {
    cursor:pointer;
	height: 24px;
	font-size: 12px;
	outline: medium none;
	button::-moz-focus-inner { border: 0; };

	font-family: Verdana, Geneva, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	color: #404040;
	border: 1px solid #f1f1f1;
	background-color: #f1f1f1;
}
.delete {
	color: #ffffff;
	border: 1px solid #fe0000;	/* colore 7 */
	background-color: #fe0000;	/* colore 7 */
}
.login_input {
	font-size: 20px;
}
td .detailedViewHeader, .dvtInfo td, .dvtLabel td {
	padding: 5px 0px 5px 0px;
}
.dvtInfo, .dvtLabel {
	cursor: pointer;
}
.dvtInfo:hover, .dvtLabel:hover {
	background-color:#F6F9FC;
}