/* crmv@98866 */

.calmain {
    border-bottom: 2px solid #ffffff;
    background: #ffffff;
}
.printborder {} .scolltimeevent {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid #e7e3e4;
    /* colore 5 */
    
    border-left: 1px solid #e7e3e4;
    /* colore 5 */
    
    border-bottom: 1px solid #e7e3e4;
    /* colore 5 */
    
    padding: 0;
    font-size: 12px;
    line-height: normal;
}
.wk-top {
    table-layout: fixed;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
}
#gridcontainer {
    background: #ffffff;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
#td-right {
    vertical-align: top;
    padding: 0px;
    border-right: 1px solid #e7e3e4;
    /* colore 5 */
    
    ;
}
#td-calendar-users {}
.wk-dayname {
    font-weight: 700;
    color: #111;
    padding: 2px 4px;
    margin-left: 4px;
    white-space: nowrap;
    padding-bottom: 10px;
}
.wk-today {
    color: #fff;
    font-weight: bold;
    background-color: #8ac;
    padding: 1px 3px;
    border-top: 1px solid #6786a7;
    border-left: 1px solid #6786a7;
    border-bottom: 1px solid #ace;
    border-right: 1px solid #ace;
}
.wk-dummyth {
    vertical-align: top;
    background-color: #ffffff;
    padding: 0;
}
.wk-daylink {
    cursor: pointer;
}
.wk-allday {
    background-color: #FAFAFA;
    /* colore 3 */
    
    font-size: 12px;
    line-height: 14px;
    border-top: 1px solid #e7e3e4;
    /* colore 5 */
    
    ;
}
.wk-allday .st-c {
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid #EAEAEA;
}
.st-grid {
    position: relative;
	table-layout:fixed;
    width: 100%;
}
.st-c {
    padding: 1px 1px 0 2px;
    vertical-align: top;
}
.st-s {
    padding-bottom: 2px;
    cursor: default;
}
.t1 {
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 2px;
    overflow: hidden;
}
.t2 {
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0 1px;
    overflow: hidden;
}
.chromeColor {
    background: #ffffff;
    border-color: #ffffff;
}
.tg-timedevents {
    background-color: #fff;
    table-layout: fixed;
    width: 100%;
    margin-top: -1px;
}
.tg-times {
    padding: 0;
    font-size: 13px;
    color: #111;
    text-align: center;
    padding-right: 1px;
    padding-top: 1px;
    overflow: hidden;
    font-weight: 700;
}
.tg-time {
    padding-bottom: 1px;
    padding-right: 2px;
}
.tg-col {
    border-left: 1px solid #EAEAEA;
    overflow: hidden;
    vertical-align: top;
}
.tg-col-overlaywrapper {
    position: relative;
    height: 0;
}
.tg-col-eventwrapper {
    position: relative;
    cursor: default;
    margin-right: 10px;
}
.tg-today {
    background-color: #FBFBFB;
}
.tg-spanningwrapper {
    position: relative;
    margin-left: 3px;
    height: 1px;
    top: 1px;
}
.tg-hourmarkers {
    position: absolute;
    width: 100%;
}
.tg-dualmarker {
    border-top: 1px solid #E5E5E5;
    height: 1em;
    line-height: 1em;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 1em;
}
.tg-dualmarker:first-child {
    border-top: 0px none;
}
.tg-nowmarker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    border-top: 2px solid red;
    overflow: hidden;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.tg-nowptr {
    position: absolute;
    width: 5px;
    height: 9px;
}
.chip {
    position: absolute;
    overflow: hidden;
    cursor: default;
    color: #FFF;
    /*crmv@diego*/
    
    -moz-user-select: none;
    /* crmv@46109 */
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* crmv@46109e*/
}
/* crmv@140802 */
.chip dl {
    margin: 0;
    padding-bottom: 1px;
    /*border-left: 1px solid;
    border-right: 1px solid;*/
    overflow: hidden;
    font-size: 13px;
}
/* crmv@140802e */
.chip dt {
    margin: 2px 5px 0px 5px;
    /* crmv@46109 */
    
    white-space: nowrap;
    overflow: hidden;
    padding-left: 1px;
    text-align: left;
}
.chip a:link,
.chip a:visited,
.chip a:active {
    text-decoration: none;
    color: #000;
    /*crmv@diego*/
    
    ;
}
.ie6 .chip dl {
    zoom: 1;
}
.ie6 .chip dt {
    width: 100%;
    margin-right: -1px;
}
.chip dd {
    margin: 0px 5px 5px 5px;
    /* crmv@46109 */
    
    overflow: hidden;
    padding: 0 1px;
    font: 100%/1.3em Verdana, Sans-serif;
    text-align: left;
    word-wrap: break-word;
    /*font-weight: 700;*/ /* crmv@103922 */
    font-size: 13px;
}
/* crmv@140802 */
.cb1,
.cb2 {
    /* border-style: solid; */
    overflow: hidden;
}
.cb1 {
    height: 1px;
    /*margin: 0 1px;
    border-width: 0 1px;*/
}
.cb2 {
    height: 0;
    /*margin: 0 2px;
    border-width: 0 0 1px; */
}
.ct {
    height: 0;
    overflow: hidden;
    /*border-style: solid;
    border-width: 0 1px 1px;*/
    /*crmv@20871*/
    
    /*border-color: transparent;*/
}
/* crmv@140802e */
.ie6 .ct {
    border-style: solid dotted;
}
.cic {
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 2px;
    width: 9px;
    height: 7px;
    line-height: 7px;
    background-image: url(images/calendar/combined.gif);
}
.ff2 .cic {
    display: -moz-inline-box;
    vertical-align: bottom;
    position: relative;
    top: -2px;
}
.cic-ques {
    margin-left: 0;
    margin-right: 2px;
    width: 9px;
    height: 9px;
    line-height: 9px;
    background-position: -56px -50px;
}
.cic-prsn {
    background-position: -28px -50px;
}
.cic-noprs {
    background-position: -46px -50px;
}
.cic-tmr {
    background-position: -28px -57px;
}
.cic-rcr {
    background-position: -37px -50px;
}
.cic-spcl {
    background-position: -37px -57px;
}
.cic-priv {
    background-position: -11px -64px;
}
.resizer {
    position: absolute;
    height: 7px;
    line-height: 7px;
    width: 100%;
    bottom: 0;
    cursor: s-resize;
}
.rszr_icon {
    /*display:none;*/
    
    border-top: 3px double white;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
}
.rb-n {
    padding: 1px 1px 1px 3px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}
.rb-o {
    margin: 0 1px;
    border-width: 1px 0;
    border-style: solid;
    cursor: pointer;
}
.rb-m {
    padding-left: 3px;
    margin: 0 -1px;
    border-width: 0 1px;
    border-style: solid;
    zoom: 1;
}
.rb-i {
    overflow: hidden;
    color: #FFFFFF;
    /*crmv@diego*/
    
    white-space: nowrap;
    width: 100%;
	/*font-weight: 700;*/ /* crmv@103922 */
}
.mv-container {
    height: 100%;
    position: relative;
    line-height: 14px;
    white-space: nowrap;
}
.mv-container th {
    font-size: 12px;
}
.bg-exists .mv-container {
    background-color: transparent;
}
.st-contents,
.mv-container {
    font-size: 11px;
    line-height: 14px;
}
.mv-daynames-table {
    position: absolute;
    table-layout: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    color: #112abb;
}
.mv-dayname {
    font-weight: 700;
    color: #111111;
}
.mv-event-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    top: 14px;
    bottom: 0;
    background: white;
    margin-top: 10px;
}
.month-row {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.bg-exists .month-row {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.st-bg-table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}
.st-bg {
    border-left: 1px solid #ffffff;
}
.st-bg-today {
    background-color: #fff9c4;
}
.bg-exists .st-bg-today {
    background-color: #eee;
    border: 1px solid #579;
    opacity: 0.8;
}
.st-dtitle {
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    background-color: #EEEEEE;
    color: #333333;
    padding-right: 2px;
    text-align: right;
    line-height: 16px;
    overflow: hidden;
    padding: 3px 0px;
    padding-right: 3px;
    font-size: 14px;
}
.bg-exists .st-dtitle {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.st-dtitle-nonmonth {
    background-color: #f5f5f5;
    color: #AAAAAA;
}
.st-dtitle-today {
    background-color: #bdbdbd;
    font-weight: 700;
}
.st-more {
    color: #112abb;
    text-align: center;
    cursor: pointer;
}
.st-moreul {
    text-decoration: underline;
}
.st-moreicon {
    background-color: #d0d6de;
    color: #627487;
    margin: 1px;
    padding-right: 5px;
    text-align: right;
    font-size: 85%;
}
.cc {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
    visibility: hidden;
}
.cc-titlebar {
    background-color: #e8eef7;
}
.cc-close {
    margin: 2px 2px 0 0;
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: url(images/calendar/combined.gif) 0 -50px;
}
.cc-title {
    padding: 2px;
    font-weight: bold;
}
.st-ad-ml,
.st-ad-mr {
    position: relative;
    top: 2px;
    margin-bottom: -8px;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    border-top: 4px dotted;
    border-top: 4px solid transparent;
    border-bottom: 4px dotted;
    border-bottom: 4px solid transparent;
}
.st-ad-mpad {
    padding-left: 10px;
}
.st-ad-ml {
    border-right: 4px solid white;
    margin-left: -7px;
    margin-right: auto;
}
.st-ad-mr {
    border-left: 4px solid white;
    margin-left: auto;
    margin-right: 3px;
}
.bubble {
    POSITION: absolute;
    VISIBILITY: hidden;
    FONT-SIZE: 9pt;
    TOP: 0px;
    LEFT: 0px;
}
.bubble-table {
    WIDTH: 100%;
    TABLE-LAYOUT: fixed;
}
.bubble-cell-side {
    WIDTH: 25px;
}
.bubble-cell-main {
    WIDTH: 100%;
}
.bubble-sprite {
    BACKGROUND-IMAGE: url(images/calendar/bubble_combined.png);
    POSITION: absolute;
    WIDTH: 148px;
    HEIGHT: 96px;
}
.ie6 .bubble-sprite {
    FILTER: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="crop", src="/Theme/Default/images/calendar/bubble_combined.png");
    BACKGROUND: none transparent scroll repeat 0% 0%;
}
.bubble-corner {
    POSITION: relative;
    WIDTH: 25px;
    HEIGHT: 25px;
    OVERFLOW: hidden;
}
.bubble-tl {
    LEFT: 0px;
}
.bubble-tr {
    LEFT: -25px;
}
.bubble-bl {
    TOP: -25px;
    LEFT: 0px;
}
.bubble-br {
    TOP: -25px;
    LEFT: -25px;
}
.bubble-closebutton {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../../../../include/js/jquery_plugins/fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 100000002;
    display: block;
}
.bubble-top {
    BACKGROUND: #fff;
    HEIGHT: 24px;
}
.bubble-bottom {
    BACKGROUND: #fff;
    HEIGHT: 24px;
}
.bubble-top {
    BORDER-TOP: #ababab 1px solid;
}
.bubble-bottom {
    BORDER-BOTTOM: #ababab 1px solid;
}
.bubble-mid {
    /* crmv@OPER6317 */
    /*BORDER-LEFT: #ababab 1px solid;*/
    
    padding: 10px;
    BACKGROUND: #fff;
    /*BORDER-RIGHT: #ababab 1px solid;*/
    /* crmv@26807 */
    /* crmv@OPER6317e */
    
    ;
}
.cb-root {
    WIDTH: 100%;
    FONT-size: 13px;
    OVERFLOW: hidden;
}
.cb-switcher {
    MARGIN-BOTTOM: 0.8em;
}
.cb-switcher-selected {
    FONT-WEIGHT: bold;
}
.cb-table {
    WIDTH: 100%;
    font-size: 14px;
    /*MARGIN-BOTTOM: 0.8em*/
    /* crmv@26807*/
    
    ;
}
.cb-example {
    FONT-SIZE: 12px;
    PADDING-TOP: 2px;
    font-style: italic;
}
.cb-key {
    /* crmv@26807 */
    
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0.4em;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 1em;
    WHITE-SPACE: nowrap;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0.4em
    /* crmv@26807e */
    
    ;
}
.cb-value {
    PADDING-BOTTOM: 0.4em;
    PADDING-LEFT: 0px;
    WIDTH: 95%;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0.4em;
}
.cb-textarea {
    HEIGHT: 3.9em;
}
/* crmv@59091 */

.textbox-fill-input {
    width: 100%;
    /*padding:2px;*/
    
    border-width: 1px;
    border-color: #666 #ccc #ccc #666;
    box-sizing: border-box;
}
/* crmv@59091e */
/* crmv@27010 */

.lk {
    WHITE-SPACE: nowrap;
    COLOR: #112abb;
    CURSOR: pointer;
}
.lk:hover {
    TEXT-DECORATION: underline;
}
/* crmv@27010e */

.cal-control {} .control-main {
    width: 100%;
    vertical-align: bottom;
    border-color: #ffffff;
}
.view-tab {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    VERTICAL-ALIGN: bottom;
    CURSOR: pointer;
    PADDING-TOP: 0px;
}
.view-tab-unselected {
    BACKGROUND-COLOR: #e8eef7;
}
.view-tab-selected {
    BACKGROUND-COLOR: #ffffff;
}
.tab-name {
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    WHITE-SPACE: nowrap;
    PADDING-TOP: 4px;
}
.tab-spacer {
    WIDTH: 3px;
    CURSOR: default;
}
.bbit-cs-split {
    margin-top: 2px;
    padding: 2px;
    /*border-top:solid 1px #555;*/
    /* crmv@26807 */
    
    ;
}
.textbox-fill-div {
    width: 95%;
    padding: 2px;
    font-size: 14px;
}
.drag-lasso-container {
    POSITION: absolute;
    WIDTH: 0px;
    HEIGHT: 0px;
    TOP: 0px;
    LEFT: 0px;
}
.drag-lasso {
    POSITION: absolute;
    FILTER: alpha(opacity=50);
    LINE-HEIGHT: 0;
    BACKGROUND-COLOR: #ffffff;
    FONT-SIZE: 0px;
    opacity: 0.5;
    -khtml-opacity: 0.5;
}
.drag-event {
    Z-INDEX: 1000;
    POSITION: absolute;
    CURSOR: pointer;
}
.drag-chip-wrapper {
    Z-INDEX: 1;
    POSITION: absolute;
    WIDTH: 100%;
    LEFT: 0px;
}
.drag-chip {
    FILTER: alpha(opacity=80);
    CURSOR: pointer;
    opacity: .8;
    -khtml-opacity: .8;
}
.prong {
    POSITION: relative;
    WIDTH: 98px;
    MARGIN-BOTTOM: -72px;
    HEIGHT: 72px;
    OVERFLOW: hidden;
    TOP: -1px;
    left: 101px;
}
.prong .bubble-sprite {
    TOP: -24px;
    LEFT: -50px;
}
.monthdayshow {
    cursor: pointer;
}
.monthdayshow:hover {
    text-decoration: underline;
}
.list {
    /*background-image:url(images/calendar/sfondo_lista.jpg);*/
    
    ;
}
/* crmv@51216 */

.tg-holiday,
.st-bg-holiday {
    background-color: #f1f1f1;
}
/* crmv@51216e */

#completedTaskButton {
    overflow: hidden;
    border: 1px solid #EAEAEA;
    border-right: 0px none;
    font-size: 7pt;
    text-align: center;
    background-color: #FAFAFA;
}
#completedTaskButton:hover {
    background-color: #f5f5f5;
}
.fixed {
    table-layout: fixed;
}

/* crmv@170379 */
.week-wrapper {
	margin-bottom: 10px;
	margin-left: 10px;
	color: #666666;
}
.week-wrapper .week-label {
	font-size: 18px;
}
.week-wrapper .week-number {
	margin-left: 5px;
    font-size: 14px;
}
/* crmv@170379e */
