 ******************************************************************************/

/* From http://www.quirksmode.org/css/forms.html*/
.form_label .form_input{
	display: block;
	/*width: 150px;*/
	float: left;
	margin-bottom: 10px;
}

.form_input{
    width: 500px;
}

.form_label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

.form_br {
	clear: left;
}

.value{
	display: inline-block;
	width: 100px;
}

.operation{
	width: 150px;
}

.link{
	text-decoration: underline
}
.link:hover{
	cursor:pointer;
}

