/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

// crmv@167019

.droparea {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: table;
	color: $grey-700;
	background: rgba(255, 255, 255, 0.45);
	transition: visibility 175ms, opacity 175ms;
	
	& .droparea-text {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		transition: font-size 175ms;
		font-size: 42px;
	}
	
	&.dragover {
		border: 3px dashed $grey-700;
	}
}

.drop-area-support {
	position: relative;
	top: 2px;
	border: 2px dotted $grey-400;
	padding: 3px;
	margin: 5px;
}
