/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

/* crmv@98866 */

.popup-edit-report,
.popup-edit-cluster {
	height: 95%;
	
	#leftPane {
		padding: 0px;
		border-right: 1px solid #e0e0e0;
	}
	
	.reportStepCell {
		margin: 2px;
		padding: 10px;
		font-weight: 700;
		cursor: pointer;
	    background-color: #f0f0f0;
	    line-height: 3rem;
	    padding: 1rem 1rem;
	    background-color: #fff;
	    border-bottom: 1px solid #d2d2d2;
	}
	
	.reportStepCellSelected {
	    background-color: rgba(0,0,0,0.05);
	}
	
	.stepTitle .genHeaderGray {
		padding-left: 10px;
	}
	
	.stepTitle .genHeaderGray ~ span {
		padding-left: 10px;
	}
}