/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

/* crmv@164368 */

.notificationDiv {
	position: fixed;
	right: 25px;
	bottom: 0px;
	padding: 5px;
	z-index: 10;
	overflow: hidden;
}