/*************************************
 * SPDX-FileCopyrightText: 2009-2020 Vtenext S.r.l. <info@vtenext.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 ************************************/

/* crmv@98866 */

.popup-wizard {
	height: 95%;

	#nlWizMainTab {
		z-index: -10;
		width: 100%;
		height: 100%;
	}
	#nlWizLeftPane {
		width: 20%;
		min-width: 200px;
		border-right: 1px solid #e0e0e0;
		vertical-align: top;
		padding: 0px;
	}
	#nlWizRightPane {
		min-width: 400px;
		vertical-align: top;
		padding: 8px;
	}
	#nlWizStepTable {
		width: 100%;
	}
	.nlWizStepCell {
		margin: 2px;
		font-weight: normal;
		cursor: pointer;
		line-height: 3rem;
		padding: 1rem 1rem;
		background-color: #fff;
		border-bottom: 1px solid #d2d2d2;
	}
	.nlWizStepCellSelected {
		background-color: rgba(0, 0, 0, 0.05);
	}
	.nlWizTargetList {
		padding-bottom: 4px;
		margin-bottom: 10px;
		height: 300px;
		overflow: scroll;
	}
	.addrBubble {
		overflow: visible;
		position: static;
		background-color: #edf4fd;
		border: 1px solid #999999;
		border-radius: 4px 4px 4px 4px;
		color: black;
		display: inline-block;
		margin-bottom: 2px;
		margin-left: 3px;
		padding: 1px 3px;
	}
	.ImgBubbleDelete {
		display: inline-block;
		cursor: pointer;
		overflow: hidden;
		vertical-align: middle;
	}
	#nlw_templatePreviewCont {
		min-height: 200px;
		overflow-y: auto;
		width: 98%;
		padding: 3px;
		border: 1px solid #d0d0d0;
		margin: 3px;
	}
	.level3Bg {
		border-bottom: 0px none;
	}
	.circleIndicator {
		display: inline-block;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		line-height: 30px;
		cursor: default;
		margin-right: 16px;
		background-color: #cdcdcd;
	}
	.circleIndicator.circleEnabled {
		background-color: #2c80c8;
	}
}

.popup-newsletter-wizard {
	height: 94%; /* leave space for top panel */

	#nlWizMainTab {
		z-index: -10;
		width: 100%;
	}
	#nlWizLeftPane {
		width: 20%;
		min-width: 200px;
		border-right: 1px solid #e0e0e0;
		vertical-align: top;
		padding: 0px;
	}
	#nlWizRightPane {
		min-width: 400px;
		vertical-align: top;
		padding: 8px;
	}
	#nlWizStepTable {
		width: 100%;
	}
	.nlWizStepCell {
		margin: 2px;
		font-weight: normal;
		cursor: pointer;
		line-height: 3rem;
		padding: 1rem 1rem;
		background-color: #fff;
		border-bottom: 1px solid #d2d2d2;
	}
	.nlWizStepCellSelected {
		background-color: trasparent;
		font-weight: bold;
	}
	/*.nlWizStepCell:hover {
		background-color: #e0e0e0;
	}*/
	.nlWizTargetList {
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 4px;
		margin-bottom: 10px;
		height: 300px;
		overflow: scroll;
	}
	.addrBubble {
		overflow: visible;
		position: static;
		background-color: #edf4fd;
		border: 1px solid #dadada;
		color: black;
		display: inline-block;
		margin-bottom: 2px;
		margin-left: 3px;
		padding: 5px 3px;
		border-radius: 0px;
	}
	.ImgBubbleDelete {
		display: inline-block;
		cursor: pointer;
		overflow: hidden;
		vertical-align: middle;
	}
	#nlw_templatePreviewCont {
		min-height: 200px;
		overflow-y: auto;
		width: 100%;
		padding: 3px;
		border: 1px solid #d0d0d0;
		margin: 3px;
	}
	.circleIndicator {
		display: inline-block;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		line-height: 30px;
		cursor: default;
		margin-right: 16px;
		background-color: #cdcdcd;
	}
	.circleIndicator.circleEnabled {
		background-color: #2c80c8;
	}
	.mailClientWriteEmailHeader {
		font-size: 16px;
		line-height: 24px;
		color: rgb(43, 87, 124);
		text-indent: 0px;
		height: 59px;
	}
	.menuSeparation,
	.level3Bg {
		border-bottom: 0px none;
	}
	.vte_menu_white {
		height: 60px;
	}
}
